# Test with SQLite3

In [5]:
import sqlite3
import pandas as pd

con = sqlite3.connect("resources/sql/q-values.db")
c = con.cursor()

In [8]:
t = pd.DataFrame(columns=[0,1,2,3])

In [10]:
t.to_sql("LOOKUP_2", con, if_exists="replace", dtype="float")

In [113]:
con.rollback()

ROLLBACK

In [80]:
def update_value_from_state_and_action(cursor, table, state, action, value):
    c.execute('''UPDATE "{}" SET "{}"={} WHERE "index"=?'''.format(table, str(action), value), [str(state)])

In [4]:
def get_values_from_state(cursor, table, state, default=[0,0,0,0]):
    try:
        cursor.execute('''SELECT * FROM "{}" WHERE "index" = ?'''.format(table), [state])
        results = cursor.fetchone()
        if results is not None: return results[1:]
        else: return default
    except:
        raise Warning("An error occured while performing get_values_from_state")
        return None

In [106]:
def insert_new_state(cursor, table, state):
    cursor.execute('''INSERT INTO "{}" VALUES (?, 0, 0, 0, 0)'''.format(table), [state])

In [79]:
update_value_from_state_and_action(c, "LOOKUP_5", "4444444444444444444444444444444444440000004444400000044444002000444440010004444400100344444000000444444444444444444444444-00", 0, 30)

UPDATE LOOKUP_5 SET "0"=30 WHERE "index"=?
UPDATE LOOKUP_5 SET "0"=30 WHERE "index"='4444444444444444444444444444444444440000004444400000044444002000444440010004444400100344444000000444444444444444444444444-00'

In [6]:
get_values_from_state(c, "LOOKUP_5", "4444444444444444444444444444444444440000004444400000044444002000444440010004444400100344444000000444444444444444444444444-00")

(29, 50, 41, 21)

In [111]:
insert_new_state(c, "LOOKUP_5", "abc")

BEGIN
INSERT INTO "LOOKUP_5" VALUES ('abc', 0, 0, 0, 0)

In [2]:
con.commit()

In [94]:
r = ["abc",1,2,3,4]
tuple(r[1:])

(1, 2, 3, 4)

In [8]:
con.close()

# Other stuffs

In [2]:
from custom_snake.snake_env import SnakeEnv

In [3]:
ENV = SnakeEnv([5,5])
ENV.reset()

(0, 3)

In [23]:
LOOKUP = 
x, y = ENV.board.snake.head

xs, xm = max(0, x-LOOKUP), min(ENV.board.x, x+LOOKUP+1)
ys, ym = max(0, y-LOOKUP), min(ENV.board.y, y+LOOKUP+1)

ENV.board.board[xs:xm, ys:ym]

array([[0., 2., 0., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.]])

In [6]:
from numpy import reshape

In [24]:
a = reshape(ENV.board.get_around(ENV.board.snake.head, 2), (5,5))

In [21]:
ab = list(map(lambda x: int(x > 0), b))

In [20]:
b = [a[0,1],
a[1,0],
a[1,2],
a[2,1]]